{% extends "themes/default/templates/partials/base.html" %}

{% block content %}

    <h1>{{ entry.title }}</h1>

    {# pagination #}
    {% set entries_limit = entries_fetch('blog').entries_limit %}
    {% set entries_length = entries_fetch_all('blog', 'date', 'DESC')|length %}
    {% set entries_pages = (entries_length/entries_limit)|round %}
    {% if page < 1 %}{% set page = 1 %}{% elseif page > entries_pages %}{% set page = entries_pages %}{% endif %}
    {% set entries_offset = (page-1)*entries_limit %}
    {% if entries_offset < 0 %}{% set entries_offset = 0 %}{% endif %}
    {# /pagination #}

    {% for entry in entries_fetch_all('blog', 'date', 'DESC', entries_offset, entries_limit) %}
        <a href="{{ entry.slug }}" class="blog-post">
            <h3>{{ entry.title }}</h3>
            <p>{{ entry.summary|shortcode|raw}}</p>
            <div>{{ entry.date }}</div>
        </a>
    {% endfor %}

    {# pagination navigation #}
    {% if (page - 1) > 0 %}<a href="?page={{ page - 1 }}">&larr;</a>{% endif %}
    {% if (page) < entries_pages %}<a href="?page={{ page + 1 }} ">&rarr;</a>{% endif %}
    {# /pagination navigation #}

{% endblock %}
