{% extends "themes/default/templates/partials/base.html" %}

{% block content %}

    {{ entry.content|shortcode|raw}}

    {% for entry in entries.fetchAll('blog', {'order_by': {'field': 'date', 'direction': 'desc'}, 'set_max_result': '3'}) %}
        <a href="{{ entry.slug }}" class="blog-post">
            <h3>{{ entry.title }}</h3>
            <p>{{ entry.summary|shortcode|raw}}</p>
            <div>{{ entry.date }}</div>
        </a>
    {% endfor %}

    <a href="{{ base_url() }}/blog" class="blog-read">Read the rest of the blog</a>

{% endblock %}
