{% extends "themes/default/templates/partials/base.twig" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content %}
    <h1>{{ entry.title }}</h1>
    {{ entry.content|raw }}
{% endblock %}
