.blog-post {
    color: #000;
    margin-bottom: 40px;
    padding-top: 40px;
    display: block;
    border-top: 1px solid #efefef;

    &:hover {
        text-decoration: none;
    }
}

.blog-read {
    text-align: center;
    display: block;
}
