//
// Footer
//

.powered {
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #ccc;
    font-size: 12px;

    > a {
        color: #ccc;
    }
}
