//
// Footer
//

.powered {
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    opacity: .7;

    > a {
        opacity: .7;
        text-decoration: none;
    }
}
