parameters:
  level: 3
  reportUnmatchedIgnoredErrors: false
  bootstrapFiles:
    - src/flextype/defines.php
  paths:
    - src
  ignoreErrors:
    - '#Undefined variable: \$this.*#'
    - '/Constant PATH not found./'
    - '/Constant ROOT_DIR not found./'
    - '/Variable \$api_errors might not be defined./'
    - '/Variable \$registry might not be defined./'
