parameters:
  level: 3
  reportUnmatchedIgnoredErrors: false
  paths:
    - src
  ignoreErrors:
    - '/Constant PATH not found./'
    - '/Constant ROOT_DIR not found./'
    - '/Variable \$api_errors might not be defined./'
    - '/Variable \$registry might not be defined./'
