html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;

    height: 100%;

    color: black;
    background: white;
}

body,
button,
input,
select,
textarea,
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;

    color: black;
}

body,
p {
    line-height: 26px;
}

pre {
    background: #f0f0f0;
    padding-left: 10px;
}


.content {
    padding-top: 40px;
}

.navbar-brand {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.powered {
    padding-top: 30px;
}
