//
// Main
//


html,
body {
    font-family: $base-font-family;
    font-size: $base-font-size;

    height: 100%;

    color: black;
    background: white;
}

body,
button,
input,
select,
textarea,
p {
    font-family: $base-font-family;
    font-weight: 400;

    color: black;
}

body,
p {
    line-height: $base-line-height;
}

pre {
    background: #f0f0f0;
    padding-left: 10px;
}
