name: CI
on: ['push', 'pull_request']
jobs:
  phpstan:
    name: PHP Static Analysis
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: PHPStan
      uses: docker://oskarstark/phpstan-ga
      with:
        args: analyse src/ -c phpstan.neon
  tests:
    name: Unit Tests for PHP ${{ matrix.php }} - ${{ matrix.os }} - ${{ matrix.dependency-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        php: ['7.4', '8.0', '8.1']
        dependency-version: [prefer-stable]

    steps:
    - name: Get latest code
      uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions:  fileinfo, spl, json, dom, mbstring
        tools: composer:v2
        coverage: xdebug

    - name: Setup Problem Matches
      run: |
        echo "::add-matcher::${{ runner.tool_cache }}/php.json"
        echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

    - name: Install PHP 7 dependencies
      run: composer update --${{ matrix.dependency-version }} --no-interaction --no-progress
      if: "matrix.php < 8"

    - name: Install PHP 8 dependencies
      if: "matrix.php >= 8"
      run: composer update --${{ matrix.dependency-version }} --ignore-platform-req=php --no-interaction --no-progress

    - name: Run Tests
      run: ./vendor/bin/pest --coverage
